@{
    Layout = "_Layout.cshtml";
}

<div class="row">
    <div class="">

        <hgroup class="jumbotron">
            <h1 class="text-danger">Info.!</h1>
            <h2 class="text-danger">@ViewBag.ErrorMessage</h2>
        </hgroup>
    </div>
</div>

